<a href="https://colab.research.google.com/github/wogus0518/Python-CodingTest/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C_%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 백준 단계별로 풀어보기

## if문

In [32]:
#9498 시험 성적
score = int(input())
if score >= 90 : print("A")
elif score >= 80 : print("B")
elif score >= 70 : print("C")
elif score >= 60 : print("D")
else : print("F")

89
B

In [29]:
#2753 윤년
year = int(input())
if (year%4==0 and year%100!=0) or year%400==0 : print(1)
else: print(0)

1999
0

In [34]:
#14681 사분면 고르기
x = int(input())
y = int(input())
if x>0:
    if y>0: print(1)
    elif y<0: print(4)
elif x<0:
    if y>0: print(2)
    elif y<0: print(3)

9
-13
4

In [41]:
#2884 알람 시계
h, m = map(int, input().split())

if m-45>=0 :  print(h,m-45)
elif m-45<0:
  if h-1<0: print(24+h-1, 60+m-45)
  else:  print(h-1, 60+m-45)

23 40
22 55

##for문

In [43]:
#2739 구구단
n = int(input())

for i in range(1,10):
  print(f'{n} * {i} = {n*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [46]:
#8393 합
n= int(input())
result = 0
for i in range(1,n+1):
    result += i
print(result)

3
6

In [ ]:
#15552 빠른 A+B
import sys

n = int(input())

for _ in range(n):
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

In [64]:
#2742 기찍N
n = int(input())
a = range(1,n+1)[::-1]
for i in a:
  print(i)

5
5
4
3
2
1

In [65]:
#11022 A+B -8
n = int(input())
for i in range(n):
  a, b = map(int, input().split())
  print(f"Case #{i+1}: {a} + {b} = {a+b}")

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [68]:
#2439 별 찍기-2
n = int(input())
for i in range(1,n+1):
  print(f"{('*'*i).rjust(n)}")

5
    *
   **
  ***
 ****
*****

In [69]:
#10871 X보다 작은 수
n, x = map(int, input().split())
a_list = list(map(int, input().split()))
result = []
for a in a_list:
    if a<x:
      result.append(a)
for i in result:
  print(i)

10 5
1 10 4 9 2 3 8 5 7 6
1
4
2
3

##while문

In [70]:
#10952 A+B -5
while True:
  a, b = map(int, input().split())
  if a==0 and b==0:
    break
  else:  print(a+b)

1 1
2
 2 3
5
0 0

In [71]:
#10952 A+B -4
while True:
  try:
    a, b = map(int, input().split())
  except:
    break
  print(a+b)

1 1
2
2 3
5
0 1

In [92]:
#1110 더하기 사이클
n = input()
if int(n)<10:
  n = str(0) + n
first = n
cnt=0
while True:
  new = n[1] + str(int(n[0]) + int(n[1]))[-1]
  cnt += 1
  if first == new:
    break
  else:
    n = new
print(cnt)

26
4

##1차원 배열

In [94]:
#10818 최소, 최대
n= int(input())
data = list(map(int, input().split()))
print(min(data), max(data))

5
10 20 35 1 50
1 50

In [96]:
#2562 최댓값
data = list()
for _ in range(9):
  data.append(int(input()))
cnt = 0
for i in data:
  if i == max(data):
    break
  else: cnt+=1
print(max(data), cnt+1)
# index 내장함수 이용
# print(data.index(max(data))+1)

3
29
38
12
57
74
40
85
61
85 7

In [100]:
#2577 숫자의 개수
a = int(input())
b = int(input())
c = int(input())
a = a*b*c
a = list(str(a))
for i in range(10):
  print(a.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [102]:
#3052 나머지
data = []
for _ in range(10):
  data.append(int(input()) % 42)
data = set(data)
print(len(data))

39
40
41
42
43
44
82
83
84
85
6

In [105]:
#1546 평균
n = int(input())
score_list = list(map(int, input().split()))

highest = max(score_list)
new_score_list = []
for score in score_list:
    new_score_list.append(score/highest*100)
print(sum(new_score_list)/n)

3
40 80 60
75.0

In [106]:
#8958 OX퀴즈
n = int(input())
for _ in range(n):
  data = list(input())
  score = 0
  count = 0
  for ans in data:
    if ans == 'O':
      count+=1
    elif ans == 'X':
      count=0
    score += count
  print(score)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [112]:
#4344 평균은 넘겠지
n = int(input())
for _ in range(n):
  data = list(map(int, input().split()))
  data = data[1:]
  avg = sum(data)/len(data)
  count = 0
  for score in data:
    if score>avg:
      count += 1
  result = count/len(data)*100
  print("{0:.3f}%".format(result))

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

##함수

In [ ]:
#4673 셀프 넘버
def d(n):
  sum = 0
  for num in list(n):
    sum += int(num)
  return sum + int(n)

hall_list = []
for i in range(1,10001):
  hall_list.append(d(str(i)))
b = set(hall_list)
a = set(range(1,10001))
result = a - b
result = sorted(result)  
for i in result:
  print(i)

In [131]:
#1065 한수
def d(n):
  count = 0
  array = [int(i) for i in str(n)]
  if len(array)<=2:
    count+=1
  else:
    delta1 = array[0] - array[1]
    delta2 = array[1] - array[2]
    if delta1==delta2:
      count += 1
  return count

n = int(input())
result = 0
for i in range(1,n+1):
  result += d(i)
print(result)

1000
144

##문자열

In [132]:
#11654 아스키 코드
n = input()
print(ord(n))

a
97

In [133]:
#11720 숫자의 합
n = int(input())
data = [int(n) for n in list(str(n))]
sum=0
for i in data:
  sum += i
print(sum)

10987654321
46

In [139]:
# 알파벳 찾기 다른 버전
result_array = [-1]*26

input_data = list(input())
for data in input_data:
  num = ord(data)-ord('a')
  result_array[num]+=1
print(result_array)

baekjoon
[0, 0, -1, -1, 0, -1, -1, -1, -1, 0, 0, -1, -1, 0, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

In [145]:
#10809 알파벳 찾기
result_array = [-1]*26

input_data = list(input())
for data in input_data:
  num = ord(data)-ord('a')
  result_array[num]=input_data.index(data)
result = [str(i) for i in result_array]
result = ' '.join(result)
print(result)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [149]:
#2675 문자열 반복
n = int(input())
for _ in range(n):
  result=[]
  time, string = input().split()
  string_list = list(string)
  for s in string_list:
    for _ in range(int(time)):
      result.append(s)
  print(''.join(result))

2
3 3215
333222111555
5 :./$*+
:::::...../////$$$$$*****+++++

In [201]:
#1157 단어 공부

word = input()
if len(word)>1:
  word = word.upper()
  word_set = set(list(word))
  word_dict = dict()

  for w in word_set:
    count = word.count(w)
    word_dict[w] = count
  word_dict = sorted(word_dict.items(), key=lambda x: x[1], reverse=True)

  if word_dict[0][1] != word_dict[1][1]:
    print(str(word_dict[0][0]))
  else:
    print("?")
else:
  print(word.upper())

d
D

In [156]:
#2908 상수
left, right = map(int, input().split())
left = int(str(left)[::-1])
right = int(str(right)[::-1])
if left > right: print(left)
else: print(right)

734 893
437

In [158]:
#5622 다이얼
# abc 3 / def 4 / ghi 5 / jkl 6 / mno 7 / pqrs 8 / tuv 9 / wxyz 10
data = {
    'A': 3, 'B': 3, 'C': 3,
    'D': 4, 'E': 4, 'F': 4,
    'G': 5, 'H': 5, 'I': 5,
    'J': 6, 'K': 6, 'L': 6,
    'M': 7, 'N': 7, 'O': 7,
    'P': 8, 'Q': 8, 'R': 8, 'S' : 8,
    'T': 9, 'U': 9, 'V': 9,
    'W': 10, 'X': 10, 'Y': 10, 'Z' : 10
}
phone = list(input())
time = 0
if 2<=len(phone) and len(phone)<=15 :
  for num in phone:
    time += data[num]
print(time)

UNUCIC
36

In [159]:
# 다른 방법
dials = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
phone = input()
time = 0

for p in phone:
  for dial in dials:
    if p in dial:
      time += dials.index(dial) + 3
print(time)

UNUCIC
36

In [173]:
#2941 크로아티아 알파벳
cro_alph = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
word = input()
count=0
for cro in cro_alph:
  if cro in word:
    count += word.count(cro)
    word = word.replace(cro,".")
word = word.replace(".","")
print(len(word)+count)

nljj
3

In [190]:
#1316 그룹 단어 체커
n=int(input())
error=0
for _ in range(n):

  word = input()
  if len(word) != 1:
    for idx in range(len(word)):
      try:
        if word[idx] != word[idx+1]:
          after = word[idx+1:]
          if after.count(word[idx]) != 0:
           error+=1
           break
      except:
        pass

print(n-error)

3
happy
new
year
3